                <!-- HEADER AND something descriptive -->
                <div class="jumbotron block-center">
                        <h1>BlockPage<span class="label label-info"> something descriptive here</span></h1>
                    </div>
                    <!-- FORM TO Get Blocks-->
                    <div id="utxoPreview-form" class="row">
                        <div class="col-sm-8 col-sm-offset-2 address-center">
                            <form>
                                <div class="form-group">
            
                                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                                    <input type="number" class="form-control input-lg text-center" placeholder="enter block #" ng-model="formData.block">
                                </div>
            
                                <!-- createToDo() WILL CREATE NEW UTXOS -->
                                <button type="submit" class="btn btn-primary btn-lg" ng-click="createUtxoPreview()">Add</button>
                            </form>
                        </div>
                    </div>