
        <!-- HEADER AND UTXO COUNT -->
        <div class="jumbotron block-center">
            <h1>Utxo Preview List<span class="label label-info">{{ utxoPreviews.length }}</span></h1>
        </div>

        <!-- UTXO LIST -->
        <div id="utxoPreview-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE UTXOS IN $scope.utxoPreviews -->
                <div class="checkbox" ng-repeat="utxoPreview in utxoPreviews">
                    <label>
                        <input type="checkbox" ng-click="deleteUtxoPreview(utxoPreview._id)"> {{ utxoPreview.text }}
                    </label>
                </div>

            </div>
        </div>

        <!-- FORM TO CREATE UTXOS -->
        <div id="utxoPreview-form" class="row">
<p>display in grid or list here</p> 
        </div>